In [1]:
import numpy as np
from optimisation_models.battery_optimisation import OptimisationParameters
from optimisation_models.battery_rho_model import DataPreparation, BatteryRho

In [2]:
MONTHLY_LIST = np.arange(1, 13)
N_RECEDING_HORIZON = 48*7*12

In [3]:
prosumer_agg_rho_folder = f'data/processed/prosumer_rho/aggregate_data'
data_preparation = DataPreparation(prosumer_agg_rho_folder)
df_prosumer_rho_all_year = data_preparation.read_prosumer_aggregate_rho(MONTHLY_LIST)

In [4]:
optimisation_horizon = np.arange(32)
battery_capacity = 250
battery_opti_params = OptimisationParameters(df_prosumer_rho_all_year, battery_capacity)
battery_rho = BatteryRho(battery_opti_params, optimisation_horizon)

In [5]:
df_optimised_battery = battery_rho.rolling_optimisation(N_RECEDING_HORIZON)

INTERVAL: 0
Academic license - for non-commercial use only - expires 2024-08-07
Using license file c:\gurobi912\gurobi.lic
INTERVAL: 500
INTERVAL: 1000
INTERVAL: 1500
INTERVAL: 2000
INTERVAL: 2500
INTERVAL: 3000
INTERVAL: 3500
INTERVAL: 4000

In [6]:
df_optimised_battery

,battery_energy,charging_energy,charging_energy_positive,charging_energy_negative,community_net_positive,community_net_negative,grid_charging_positive,capacity
time,,,,,,,,
2013-01-14 00:00:00,0.000000,0.000000,0.0,0.000000,33.281820,0.0,0.0,250
2013-01-14 00:30:00,0.000000,0.000000,0.0,0.000000,30.172230,0.0,0.0,250
2013-01-14 01:00:00,0.000000,0.000000,0.0,0.000000,25.170090,0.0,0.0,250
2013-01-14 01:30:00,0.000000,0.000000,0.0,0.000000,25.072410,0.0,0.0,250
2013-01-14 02:00:00,0.000000,0.000000,0.0,0.000000,24.530770,0.0,0.0,250
...,...,...,...,...,...,...,...,...
2012-12-16 21:30:00,145.619022,0.000000,0.0,0.000000,63.456470,0.0,0.0,250
2012-12-16 22:00:00,145.619022,0.000000,0.0,0.000000,57.537480,0.0,0.0,250
2012-12-16 22:30:00,145.619022,0.000000,0.0,0.000000,57.780580,0.0,0.0,250
2012-12-16 23:00:00,125.909607,-17.738474,0.0,17.738474,33.833266,0.0,0.0,250
2012-12-16 23:30:00,125.909607,0.000000,0.0,0.000000,46.861650,0.0,0.0,250

In [ ]:
battery_folder = 'data/processed/battery/rho_model'
battery_rho.save_binding_data(battery_folder)